@charset "utf-8";
/* CSS Document */

#print { width:1200px; margin:0 auto; font-size:14px; position:relative;}
#print h2 { font-size:22px; text-align:center; padding:20px 0;}
#print h3 { font-size:18px; text-align:center; margin:0; padding:0; margin-bottom:20px;}
#print #right { padding-left:700px; display:block;}
#print #right span { border-bottom:2px dotted #666; padding:0 10px; font-size:16px;}
#print p { text-indent:0px; line-height:0px; padding-bottom:10px; display:inline-block; color:#333;}
#print p span { border-bottom:2px dotted #666; padding:0 15px; color:#000;  font-size:16px;}
#print p strong { font-weight:700; white-space:nowrap;}
#print #chkbox p { width:100px;}


.tblist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin:0;
	margin-bottom:10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.tblist th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px;
	border-top: 2px solid #333;
	border-bottom: 1px solid #333;
	border-left: 2px solid #333;
	border-right: 2px solid #333;
	text-align:center;
	background-color:#fff;
	color:#000;
}
.tblist td
{
	color:#333;
	padding:5px;
	height:30px;
	border-top: 0px solid #333;
	border-bottom: 1px solid #333;
	border-left: 2px solid #333;
	border-right: 2px solid #333;
}

.tblist td.B { font-weight:700;}



