/* PAGINATION EMpressr*/
div.paginationEMP {font-family: "helvetica", arial, sans-serif; font-size: 100%;/*12px*/ text-align: left; width:635px; float: left; font-size: 11px; margin-bottom:10px; }
div.paginationEMP span { background: #fff url(page_gradient.jpg) 0 100% repeat-x; border: 1px solid #d3d3d3; color: #d3d3d3; float: left; font-weight: bold; margin: 0 2px 0 0; padding: 4px 8px; }
div.paginationEMP span a{text-decoration: none;color:#1958d9;}
div.paginationEMP span a:hover { color: #454545; text-decoration: underline; }
div.paginationEMP span.current { background: #ff6600 none; border: 1px solid #ff6600; color: #fff; }

/* DIV popup */
#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:384px;
width:408px;
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}

#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}

.btn_addico{
width:16px !important;
height:16px;
border: none;
background: transparent url(../images/tree/add.jpg) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
margin-left:20px;
}

.btn_editico{
width:16px !important;
height:16px;
border: none;
background: transparent url(../images/tree/edit.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline-block;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
margin:0 5px;
}

.btn_deleteico{
width:16px !important;
height:16px;
border: none;
background: transparent url(../images/tree/delete.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_explain{
width:180px !important;
height:28px;
border: none;
background: transparent url(../images/btn_explain.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_save_return_budget{
width:180px !important;
height:28px;
border: none;
background: transparent url(../images/btn_save_return_budget.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_save_return_principle{
width:164px !important;
height:28px;
border: none;
background: transparent url(../images/btn_save_return_principle.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_return_budget{
width:26px !important;
height:24px;
border: none;
background: transparent url(../images/btn_return_budget.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_bind{
width:29px !important;
height:24px;
border: none;
background: transparent url(../images/btn_bind.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_costRelate{
width:24px !important;
height:24px;
border: none;
background: transparent url(../images/btn_costrelate.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_edit{
width:24px !important;
height:24px;
border: none;
background: transparent url(../images/btn_edit.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_approve{
width:105px !important;
height:24px;
border: none;
background: transparent url(../images/btn_approve.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_cancel{
width:24px !important;
height:24px;
border: none;
background: transparent url(../images/btn_cancel.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #fff;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_add{
width:122px !important;
height:32px;
border: none;
background: transparent url(../images/btn_add.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_addmore{
width:75px !important;
height:16px;
border: none;
background: transparent url(../images/btn_addmore.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_import{
width:110px !important;
height:27px;
border: none;
background: transparent url(../images/btn_import.png) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
margin-right:30px;
}

.btn_save{
width:78px !important;
height:28px;
border: none;
background: transparent url(../images/btn_save.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
margin-top:5px;
}

.btn_back{
width:95px !important;
height:28px;
border: none;
background: transparent url(../images/btn_back.gif) no-repeat center;
overflow: hidden;
line-height: 0px;
display: inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_delete{
width:24px !important;
height:24px;
border: none;
background: transparent url(../images/btn_delete.png) no-repeat left;
overflow: hidden;
line-height: 0px;
display:inline;
color: transparent;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_delete:hover{
color: transparent;
}

.btn_manage{
width:32px !important;
height:32px;
border: none;
background: transparent url(../images/btn_manage.png) no-repeat left;
overflow: hidden;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_search{
width:32px !important;
height:32px;
border: none;
background: transparent url(../images/btn_search.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_print{
width:107px !important;
height:28px;
border: none;
background: transparent url(../images/btn_print.gif) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_printer{
width:24px !important;
height:24px;
border: none;
background: transparent url(../images/btn_printer.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_confirm{
width:114px !important;
height:28px;
border: none;
background: transparent url(../images/btn_confirm.gif) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_mapping{
width:92px !important;
height:24px;
border: none;
background: transparent url(../images/btn_mapping.gif) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_overlap{
width:92px !important;
height:24px;
border: none;
background: transparent url(../images/btn_overlap.gif) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_excel{
width:24px !important;
height:24px;
border: none;
background: transparent url(../images/btn_excel.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_feed{
width:95px !important;
height:28px;
border: none;
background: transparent url(../images/btn_feed.gif) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_saveform{
width:24px !important;
height:24px;
border: none;
background: transparent url(../images/btn_saveform.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_addSubProject{
width:24px !important;
height:24px;
border: none;
background: transparent url(../images/btn_addsubproject.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_login{
width:114px !important;
height:34px;
border: none;
background: transparent url(../images/btn_login.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}

.btn_ex_data{
width:190px !important;
height:32px;
border: none;
background: transparent url(../images/btn_ex_data.png) no-repeat center;
overflow: hidden;
text-indent: -999px;
line-height: 0px;
display:inline-block;
color: #a63606;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}